
#chat-box {
    color: #e0e0e0;
    border-radius: 8px;
    max-height: 220px;
    overflow-y: auto;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #2e2e2e;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.avatar-container {
    position: sticky;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}

.avatar-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 1.3s ease, box-shadow 1.3s ease;
}

.avatar-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.avatar-actions {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    display: none;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-container:hover .avatar-actions {
    display: flex;
}

.avatar-actions input[type="file"] {
    display: block;
    width: 100%;
    background-color: #1e1e1e;
    color: #f5f5f5;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.avatar-actions button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 1.3s ease, transform 1.3s ease;
}

.avatar-actions button:hover {
    background-color: #43a047;
    transform: scale(1.05);
}


/* Скроллинг */
.scroll-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.scroll-button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}