.warn-container {
    background-color: #f8efd7;
    border: 1px solid #f5e8c6;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}