
form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

form label {
    color: #bdbdbd;
}

form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
}
